{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div id="search">
    <form class="" action="/search" method="get">
      <div class="input-group">
        <input class="form-control" type="text" name="s" placeholder="Search for anything...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
    <div id="watson">
      <a href="https://www.ibm.com/watson/"><img src="{% static 'img/watson.png'%}" alt=""></a>
    </div>
  </div>
{% endblock %}
