{% extends 'base.html' %}

{% block content %}
  <div id="search">
    <img id="main-logo" src="{% static 'socialtone_main.png' %}" height="120" width="500">
    <form class="" action="/search" method="get">
      <div class="input-group">
        <input class="form-control" type="text" name="s" placeholder="Search for anything...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
  </div>
{% endblock %}
